.cajita {
    height: 200px;
    width: 200px;
    background-color: rgb(20, 199, 145);
    padding: 15px 32px;
}

    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 125px) {  
        .MediaQ {
        height: 150px;
        width: 175px;
        background-color: yellowgreen;
        padding: 15px 32px;
    }


    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {  
        .MediaQ {
        height: 150px;
        width: 175px;
        background-color: goldenrod;
        padding: 15px 32px;
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
    @media (min-width: 768px) {  
        .MediaQ {
        height: 50px;
        width: 100px;
        background-color: purple;
        padding: 15px 32px;
    }
}
 
/* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) { 
        .MediaQ{
        height: 100px;
        width: 100px;
        background-color: red;
        padding: 15px 32px;
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {  
        .MediaQ {
        height: 140px;
        width: 85px;
        background-color: blue;
        padding: 15px 32px;
    }
}
 
/* Extra Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1600px) {  
        .MediaQ {
        height: 400px;
        width: 300px;
        background-color: green;
        padding: 15px 32px;
        }

}
 



    }